@import "src/_variables.scss";

footer {
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: $orange;
  text-align: center;

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
  li a {
    padding: 1em;
  }

}

