@import "src/_variables.scss";

footer {
  height: auto;
  width: 100%;
  padding: 1em;
  text-align: center;

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
  li a {
    padding: 1em;
  }

}

