ul {
list-style-type: none;
margin: 0;
padding: 0;

}
footer {
  height: 5%;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f8972b;
  text-align: center;
}
footer ul{
    text-align: center;
    
    
}