@import "src/_variables.scss";

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 3em;
  background-color: $grey-dark;
}

nav {
  clear: both;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $grey-dark;
  height: auto;

  li {
    float: left;

    .logo-image {
      max-height: 4em;
    }

    p {
      color: white;
      font-size: .8em;
      padding: 1.2em;
      display: block;
    }

    &.link a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      color: $orange;
      text-decoration: none;
      padding: 1.9em;
      text-transform: uppercase;
      font-size: .9em;
    }

    &.link a:hover {
      display: block;
      color: $white;
      background-color: $orange;
      text-decoration: none;
      padding: 1.9em;
      text-transform: uppercase;
      font-size: .9em;
    }

    &.logo a {
      padding-top: .2em;
      position: relative;
      display: inline-block;
    }

    &.logo a:after {
      padding-top: .2em;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.icon {
      color: $orange;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.5em;
      display: none;
    }

  }

  @media screen and (max-width:768px) {

    li {
      &:not(:first-child) {
        display: none;
      }

      &.icon {
        float: right;
        display: inline-block;
        margin: .925em;
      }
    }

    &.active {
      position: relative;

      li {
        float: none;

        &.icon {
          position: absolute;
          right: 0;
          top: 0;
        }

        &.link {
          float: none;
          display: inline;
          a {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

}
