<<<<<<< HEAD

=======
@import "src/_variables.scss";
>>>>>>> dbdd283907f1b74f6759f69f6e8eeb33cf08bedb

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 3em;
  background-color: $grey-dark;
}

nav {
  clear: both;
  
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  
}

li {
  /*display: inline-block;*/
  float: left;
}
=======
  overflow: hidden;
  background-color: $grey-dark;

  li {
    float: left;
>>>>>>> dbdd283907f1b74f6759f69f6e8eeb33cf08bedb

    a img {
      max-height: 4em;
    }

    p {
      color: white;
      font-size: 0.8em;
      padding: 1em;
    }

    &.link a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-size: 0.8em;
      color: $orange;
      text-decoration: none;
      padding: 2.1em 1.5em 2.1em 1.5em;
    }

    &.link a:hover {
      display: block;
      color: $white;
      background-color: $orange;
      text-decoration: none;
      padding: 2.1em 1.5em 2.1em 1.5em;
    }

    &.icon {
      color: $orange;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.5em;
      display: none;
    }

  }

  @media screen and (max-width:768px) {

    li {
      &:not(:first-child) {
        display: none;
      }

      &.icon {
        float: right;
        display: inline-block;
        margin-top: 0.75em;
        margin-right: 0.75em;
      }
    }

    &.active {
      position: relative;

      li {
        float: none;

        &.icon {
          position: absolute;
          right: 0;
          top: 0;
        }

        &.logo {
          display:block;
          clear: both;
        }

        &.link {
          float: none;
          display: inline;

          a {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

}
ul li.hamburger a{
  color: #f8972b;
  text-decoration: none;
  font-size: 1.8em;

}

@media screen and (min-width:680px) {
  ul li.hamburger a{
  display:none;

}
}
@media screen and (max-width:680px) {
  ul li:not(:first-child) {display:none;}
  
  
  ul li.hamburger a{
  display:block;

}
}