
<header>
<nav>

  <ul>
    <li><p>Beerissimo</p></li>
    <li><p>Logged in as markku</p></li>
    <li><a class="link-item" routerLink="/profile" routerLinkActive="active">Profile Page</a></li>
    <li><a class="link-item" href="www.google.fi">My beers</a></li>
    <li><a class="link-item" href="www.google.fi">Search</a></li>
    <li><a class="link-item" href="www.google.fi">Log Out</a></li>
      <li class="hamburger">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>

</nav>
</header>
