<header>
  <nav>
    <ul #topNavigation class="topnav">
      <li class="logo">
        <a routerLink="/" routerLinkActive="active">
          <object type="image/svg+xml" data="assets\images\beerissimo_logo.svg" class="logo-image">
            <img src="assets\images\beerissimo_logo.png" class="logo-image" />
          </object>
        </a>
      </li>
      <li>
        <p>Logged in as markku</p>
      </li>
      <li class="link"><a routerLink="/profile" routerLinkActive="active">Profile Page</a></li>
      <li class="link"><a href="www.google.fi">My beers</a></li>
      <li class="link"><a href="www.google.fi">Search</a></li>
      <li class="link"><a href="www.google.fi">Log Out</a></li>
      <li class="icon">
        <a (click)="open()">&#9776;</a>
      </li>
    </ul>
  </nav>
</header>
