header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 3em;
}

nav {
  clear: both;
}

ul {
  display: flex;
  height: auto;
  background-color: #444749;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: 85.375em;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

li img {
  max-height: 5em;
}

li p {
  color: white;
  padding: 1em;
}

li a.link-item {
  display: block;
  color: #F8972b;
  text-decoration: none;
  padding: 2em 1.5em 2em 1.5em;
}

li a.link-item:hover {
  display: block;
  color: white;
  background-color: #F8972b;
  text-decoration: none;
  padding: 2em 1.5em 2em 1.5em;
}
