<app-nav></app-nav>
<main>
  <router-outlet></router-outlet>

  <body>
    <div class="container">
      <div class="info">
        <img src=""/>
        <form #uploadForm="ngForm" (ngSubmit)="uploadFile($event, uploadForm.value)">
          <input type="text" name="beer" ngModel placeholder="What are you drinking?">
          <textarea placeholder="How was your beer?"></textarea>
          <br>
          <input type="file" name="file" ngModel>
          <br>
          <button type="submit" [disabled]="!uploadForm.valid">POST</button>        </form>
      </div>
    </div>
  </body>
</main>
<app-footer></app-footer>
