<app-nav></app-nav>
  <router-outlet></router-outlet>

    <div class="container">
      <div class="info">
        <form class="upload-form" #uploadForm="ngForm" (ngSubmit)="uploadPost($event, uploadForm.value)">
          <input type="text" name="title" ngModel placeholder="What are you drinking?">
          <br>
            <textarea autosize placeholder="How was your beer?" name="description" ngModel></textarea>
          <br>
          <input type="file" name="file" accept="image/*|video/*" capture="camera" ngModel>
          <br>
          <button type="submit" [disabled]="!uploadForm.valid">POST</button>
          </form>
      </div>
    </div>
<app-footer></app-footer>
