@import "src/_variables.scss";

.info{
    margin: 0 auto;
    max-width: 40%;
    background-color: $grey;
    clear: both;
    margin-top: 8em;
}
.info img{
    max-width: 6em;
    margin: 0 auto;
}
.info ul{
    list-style-type: none;
}
