<app-nav></app-nav>
<main>
  <router-outlet></router-outlet>

  <body>
    <div class="container">
      <div class="profile-wrapper">
        <img class="profile-pic" src="assets/images/BeerBros-logo.jpg" />
        <p class="username">{{this.username}}</p>
        <p class="grade">Grade</p>
        <div class="my-beers">
          <h3>My list of beers</h3>
          <ul>
            <li>
              <img src="assets/images/koffii.jpg" />
              <p>
                <span class="heading">Koffii</span><br/>
                <span class="type">Lager</span><br/>
                <span class="alc">4.5%</span>
              </p>
            </li>
            <li>
              <img src="assets/images/koffii.jpg" />
              <p>
                <span class="heading">Koffii</span><br/>
                <span class="type">Lager</span><br/>
                <span class="alc">4.5%</span>
              </p>
            </li>
            <li>
              <img src="assets/images/koffii.jpg" />
              <p>
                <span class="heading">Koffii</span><br/>
                <span class="type">Lager</span><br/>
                <span class="alc">4.5%</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</main>
<app-footer></app-footer>
