@import "src/_variables.scss";
/* You can add global styles to this file, and also import other style files */
main {
  min-height: 34em;
}
.container {
  margin-top: 6em;
  padding: 1em;
  overflow: auto;

  p {
    overflow: hidden;
  }

  @media screen and (min-width:768px) {
    .info{
      margin: 0 auto;
      max-width: 60%;
      background-color: $grey-light;
      clear: both;
      border: $grey solid 1px;
      border-radius: 0.5%;
      padding: 0.5em;
      height: auto;
      text-align: center;
    }
  }

  @media screen and (max-width:768px) {
    .info{
      margin: 0 auto;
      max-width: 100%;
      background-color: $grey-light;
      clear: both;
      border: $grey solid 1px;
      border-radius: 0.5%;
      padding: 0.5em;
      height: auto;
      text-align: center;
    }
  }
}

